@charset "utf-8";
/* CSS Document */
/* ====================== Navigation ====================== */

#breadcrumb {
  width: 100%;
}


/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  display: none;
}

.show-map-btn {
  display: block;
  background-color: orange;
  padding: 5px 2px;
  position: absolute;
  top: 50px;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: #3397DB;
  margin-bottom: 10px;
  justify-content: center;
}
.filter-options label {
  position: absolute;
  left: -9999px;
}
.filter-options h2 {
  color: #090909;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  align-self: center;
  width: 100%;
  text-align: center;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}


#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px auto;
  padding: 0 30px 25px;
  text-align: center;
  width: 96%;
}


#restaurants-list .restaurant-img {
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}


/* I changed the h1 to an h2 for logical structure, these headings
are less prominent than the main title */
#restaurants-list li h2 {
  color: #b46100;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}


#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}


#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #090909;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


/* Adjusting the "filter restaurants" section responsiveness on small screens */
@media screen and (min-width: 457px) {

  .filter-options select {
    min-width: 200px;
    width: initial;
  }

  .show-map-btn {
    left: 42%;
    padding: 10px 14px;
    top: 35px;
  }

}


@media screen and (min-width: 591px) {

  .filter-options {
    justify-content: flex-start;
  }


  .filter-options h2 {
    width: initial;
  }

}


/* Adjusting the layout of the restaurants list and its items */
@media screen and (min-width: 550px) and (max-width: 753px) {

  #restaurants-list {
    width: 550px;
  }


  #restaurants-list li h2 {
    font-size: 1.8em;
  }


  #restaurants-list p {
    font-size: 1.2em;
  }


  #restaurants-list li a {
    font-size: 1em;
    width: 60%;
    line-height: 1.5em;
  }

}


@media screen and (min-width: 754px) {

  #restaurants-list {
    flex-direction: row;
  }


  #restaurants-list li {
    width: 44%;
  }

  .show-map-btn {
    display: none;
  }

  #map {
    display: block;
  }

}


@media screen and (min-width: 1100px) {

  #restaurants-list li {
    width: 31%;
    margin-left: 2%;
  }

}

@media screen and (min-width: 1200px) {

  #restaurants-list {
    width: 1200px;
  }

}


/* ====================== Restaurant Details ====================== */
#favoritebtn {
  order: 7;
  background-color: #ff8e03;
  border: 0;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
}

.fav {
  display: none;
  background-color: #f58500;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #eee;
  padding: 10px;
  width: 100%;
}

form {
  width: 90%;
  height: auto;
}

input[type="text"], textarea {
  display: block;
}

label {
  display: inline-block;
  margin: 8px 0 2px;
  text-align: center;
}

/* label:last-of-type {
  display: block;
  margin: 10px auto 0;
} */

input[type="text"] {
  width: 60%;
  min-width: 200px;
  max-width: 500px;
  height: 30px;
}

textarea {
  width: 100%;
  height: 100px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star-rating input {
  position: absolute;
  left: -9999px;
}

.star-rating label {
  cursor: pointer;
  position: relative;
}

.star-rating label span {
  display: block;
  width: 0;
  position: absolute;
  left: -9999px;
}

.star-rating label:before {
  content: "\2605";
  display: block;
  font-size: 18px;
  width: 30px;
  color: #444;
  opacity: 1;
}

.star-rating label:after {
  content: "\2605";
  display: block;
  font-size: 18px;
  width: 30px;
  color: #f58500;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.star-rating label:hover:after,
.star-rating label:hover ~ label:after,
.star-rating input:checked ~ label:after {
  opacity: 1;
}

#submit-btn {
  display: block;
  margin: 10px auto 0;
  width: 200px;
  height: 30px;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.inside #map-container {
  background: blue none repeat scroll 0 0;
  display: block;
  height: 200px;
  position: relative;
  /* top: 125px; */
  width: 100%;
}


.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  display: block;
}


.inside #footer {
  bottom: 0;
  /* position: absolute; */
  width: 100%;
}


#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}


#restaurant-img {
  width: 100%;
}


picture {
  width: 90%;
  max-width: 800px;
}


.rating {
  color: #f58500;
}


#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}


#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  max-width: 800px;
}


#restaurant-container, 
#reviews-container,
#reviews-form {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#restaurant-container {
  padding: 140px 20px 30px;
}


#reviews-container, #reviews-form {
  padding: 30px 20px 30px;
}


#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}


#reviews-list {
  margin: 0;
  padding: 0;
}


#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 10px 20px 20px;
  position: relative;
  width: 90%;
}


#reviews-list li p {
  margin: 0 0 10px;
  font-size: 1.2em;
}


#restaurant-hours {
  width: 95%;
}


#restaurant-hours tr {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #444;
}


#restaurant-hours tr:first-of-type {
  border-top: 1px solid #444;
}


#restaurant-hours td {
  font-size: 1.1em;
  line-height: 2em;
}


#restaurant-hours td:first-child {
  width: 25%;
  border-right: 1px solid #444;
}


#restaurant-hours td:last-child {
  width: 75%;
  text-align: center;
}


#restaurant-address {
  text-align: center;
}


caption {
  position: absolute;
  height: 0;
  left: -9999px;
}

@media screen and (min-width: 678px) { 

  .inside #maincontent {
    display: flex;
    flex-flow: row wrap;
  }


  .inside #map-container {
    width: 100%;
    height: 200px;
    order: 1;
  }


  #restaurant-container, 
  #reviews-container,
  #reviews-form {
    padding: 140px 10px 30px;
  }


  #restaurant-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    order: 1;
  }


  #restaurant-container h2 {
    width: 100%;
    text-align: center;
    order: 2;
  }


  #reviews-container,
  #reviews-form {
    padding-top: 30px;
    order: 2;
  }


  picture {
    width: calc(45% - 2%);
    order: 3;
    margin-right: 2%;
  }


  #restaurant-hours {
    width: 55%;
    order: 4;
    min-width: 350px;
  }


  #restaurant-hours td {
    font-size: 1em;
  }


  #restaurant-cuisine {
    width: calc(45% - 2%);
    order: 5;
    margin-right: 2%;
  }


  #restaurant-cuisine p {
    margin-bottom: 0;
  }


  #restaurant-address {
    order: 6;
    width: 55%;
    margin-top: 0;
  }

}

@media screen and (min-width: 850px) {

  #restaurant-hours td {
    line-height: 2.2em;
    height: 2.2em;
    font-size: 1.25em;
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 1460px) {

  #restaurant-container, 
  #reviews-container,
  #reviews-form {
    width: 60%;
  }

  #restaurant-container {
    justify-content: center;
  }

  #breadcrumb {
    width: 60%;
  }


  .inside #map-container {
    width: 40%;
    position: fixed;
    right: 0;
    top: 80px;
    height: 100%;
  }


  picture {
    max-width: 600px;
  }


  #restaurant-img {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }


  #restaurant-cuisine {
    max-width: 600px;
    margin-right: 2%;
  }


  #restaurant-address {
    max-width: 600px;
  }


  #restaurant-hours {
    max-width: 600px;
    font-size: 1.2em;
  }
  

  #restaurant-hours td {
    height: 2em;
  }


  #reviews-list li {
    width: 70%;
  }


  .inside #footer {
    width: 60%;
  }

}